@use '../core/styles/shared';

$icon-color: rgba(0, 0, 0, 0.38);
$focused-icon-color: rgba(0, 0, 0, 0.6);

:host {
    position: relative;
    display: inline-block;
    width: 100%;

    .mat-icon {
        color: $icon-color;
    }
}
:host.logi-focused {
    .mat-icon {
        color: $focused-icon-color;
    }
}

.logi-active-input-button-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8px;
    align-items: center;
    display: inline-flex;
}

.logi-active-input-wrapper {
    ::ng-deep .logi-input-element {
        padding-right: 40px;
    }
}
