@use '../core/styles/shared';

@mixin square-size($size) {
    width: $size;
    height: $size;
    line-height: $size;
}

.logi-icon-button {
    border-radius: 50%;
    padding: 0;
    min-width: 0;
    @include square-size(32px);
    .logi-icon-button-icon {
        @include square-size(24px);
    }
    &[smaller] {
        @include square-size(16px);
        .logi-icon-button-icon {
            @include square-size(12px);
        }
    }
    &[small] {
        @include square-size(24px);
        .logi-icon-button-icon {
            @include square-size(18px);
        }
    }
}

/* TODO (kai): Find another way to disable default tooltip on svg */
.logi-icon-button-icon svg {
    pointer-events: none;
}
