@use '../core/styles/shared';

@use '../core/theming/theming';

@mixin logi-switch-theme($theme) {
    $primary: map-get($theme, primary);

    $color-primary: theming.logi-color($primary);
    $color-primary-lighter: theming.logi-color($primary, lighter);
    $bg-ripple: rgba($color-primary, 0.04);

    .logi-switch.logi-checked {
        &:hover:not(.logi-disabled) {
            .logi-switch-persistent-ripple {
                background-color: $bg-ripple;
            }
        }

        .logi-switch-thumb {
            background-color: $color-primary;
        }
        .logi-switch-bar {
            background-color: rgba($color-primary, 0.38);
        }
        &.logi-disabled {
            .logi-switch-thumb {
                background-color: $color-primary-lighter;
            }
            .logi-switch-bar {
                background-color: rgba($color-primary, 0.24);
            }
        }
    }
}
