<span>
  <ng-template [ngTemplateOutlet]="contentTemplate"></ng-template></span><span class="logi-table-column-sorter" [class.logi-table-column-sorter-full]="isDown &amp;&amp; isUp"><span class="logi-table-column-sorter-inner">
    <mat-icon class="logi-table-column-sorter-up" *ngIf="isUp" [class.active]="sortOrder == &quot;ascend&quot;" svgIcon="ic_arrow_drop_up"></mat-icon>
    <mat-icon class="logi-table-column-sorter-down" *ngIf="isDown" [class.active]="sortOrder == &quot;descend&quot;" svgIcon="ic_arrow_drop_down"></mat-icon></span></span>
