<div class="logi-table" #tableMainElement [class.logi-table-bordered]="logiBordered"
    [class.logi-table-has-fix-left]="hasFixLeft" [class.logi-table-has-fix-right]="hasFixRight"
    [class.logi-table-middle]="logiSize === &quot;middle&quot;"
    [class.logi-table-out-bordered]="logiOuterBordered && !logiBordered"
    [class.logi-table-rtl]="dir === &quot;rtl&quot;" [class.logi-table-small]="logiSize === &quot;small&quot;"
    [class.withoutPage]="!_paginatorOptions.show || !(data.length && _paginatorOptions.show)">
    <ng-container *ngIf="!logiLoading;else loading">
        <logi-table-inner-scroll [noResult]="logiNoResult" [contentTemplate]="contentTemplate" [data]="data"
            [listOfColWidth]="listOfManualColWidth" [tableMainElement]="tableMainElement"
            [theadTemplate]="theadTemplate" [verticalScrollBarWidth]="verticalScrollBarWidth"
            [virtualForTrackBy]="logiVirtualForTrackBy" [virtualItemSize]="logiVirtualItemSize"
            [virtualMaxBufferPx]="logiVirtualMaxBufferPx" [virtualMinBufferPx]="logiVirtualMinBufferPx"
            [virtualTemplate]="logiVirtualScrollDirective ? logiVirtualScrollDirective.templateRef : null"
            (drop$)='drop$.next($event)'>
        </logi-table-inner-scroll>
    </ng-container>
</div>
<ng-template #loading>
    <div class="loading-shape" [class.bg]="showLoadingBg">
        <logi-spinner></logi-spinner>
    </div>
</ng-template>
<ng-template #contentTemplate>
    <ng-content></ng-content>
</ng-template>
<mat-paginator class="logi-table-pagination logi-table-pagination-right"
    *ngIf="_paginatorOptions.show && (data.length && _paginatorOptions.show)" (page)="onPage($event)"
    [hidePageSize]="_paginatorOptions.hidePageSize" [length]="_paginatorOptions.total"
    [pageIndex]="_paginatorOptions.pageIndex" [pageSizeOptions]="_paginatorOptions.pageSizeOptions"
    [pageSize]="_paginatorOptions.pageSize" [showFirstLastButtons]="_paginatorOptions.showFirstLastButtons">
</mat-paginator>