@use '../core/styles/shared';

@use '../core/theming/theming';

@mixin logi-select-size($selector, $config) {
    $font-size: map-get($config, font-size);
    $trigger-height: map-get($config, trigger-height);
    $arrow-icon-size: map-get($config, arrow-icon-size);
    $selected-label-height: map-get($config, selected-label-height);
    $selected-label-delete-icon-size: map-get($config, selected-label-delete-icon-size);

    #{$selector} {
        font-size: $font-size;
        .logi-select-trigger {
            font-size: $font-size;
            min-height: $trigger-height;
        }
        .logi-select-arrow-icon {
            width: $arrow-icon-size;
            height: $arrow-icon-size;
            line-height: $arrow-icon-size;
        }
        .logi-selected-label {
            height: $selected-label-height;
        }
        .logi-selected-label-delete-icon {
            width: $selected-label-delete-icon-size;
            height: $selected-label-delete-icon-size;
            line-height: $selected-label-delete-icon-size;
        }
        .logi-select-search-input {
            height: $trigger-height - 2;
        }
    }
}