@use 'src/web/assets/styles/shared';

@use 'src/web/assets/styles/palette';

.msg {
    position: relative;

    box-shadow: 0 4px 8px palette.logi-black(0.16);
    border-radius: 4px;
    height: 24px;
    padding: 4px 8px;

    background-color: palette.logi-white(1);
    cursor: pointer;

    font-size: 14px;
    line-height: 24px;
    font-family: shared.$monospace-font;
    color: palette.logi-black(0.6);
}
