@use 'src/web/assets/styles/shared';

@use 'src/web/assets/styles/palette';

@use '../shared' as editor;

$sheet-bkg: rgba(250, 250, 250, 1);
$create-block-hover-border: 1px dashed #D6D6D6;
$create-block-button-hover-color: #FFFFFF;
$create-block-hover-color: #D6D6D6;
$dropzone-placeholder: rgba(229, 144, 53, 1);
$circle-border: 2px solid $sheet-bkg;

$circle-size: 7px;
$zindex: 1;
$dropzone-height: 8px;
$dropzone-circle-margin: 1px 0 0 9px;
$dropzone-line-margin: 3px 8px 3px 6px;
$dropzone-line-height: 2px;

:host {
    display: flex;

    overflow-y: auto;

    width: 100%;
    height: 100%;

    .sheet-block {
        width: calc(100% - 24px);
        height: calc(100% - 14px);
        padding: 7px 8px 7px 16px;
    }
}
.title-drag-image {
    border-bottom: 2px solid rgb(117, 117, 117);
}
.table-drag-image {
    border-bottom: 2px solid shared.$base-blue;
}
.init-create-block {
    display: flex;

    width: 100%;
    height: 100%;

    line-height: 17px;
    text-align: center;
    @include shared.set-font(14px);
    color: palette.logi-black(0.6);
    .empty-sheet {
        margin: auto;
    }
    .img {
        margin-bottom: 16px;
        width: 40px;
        height: 32px;
        color: palette.logi-black(0.12);
    }
    .second-text {
        margin-top: 10px;
    }
    .buttons {
        justify-content: center;
        display: flex;
    }
    .init-btn {
        margin-right: 8px;
        margin-top: 26px;
    }
}

.table-drag-icon {
    cursor: pointer;
    color: shared.$base-blue;
}
.title-drag-icon {
    cursor: pointer;
    color: palette.logi-black(0.6);
}

.dropzone {
    padding-bottom: $dropzone-height;
}

.drop-placeholder {
    display: flex;

    .drop-circle {
        z-index: $zindex;

        margin: $dropzone-circle-margin;
        border: $circle-border;
        border-radius: 50%;
        @include shared.size($circle-size, $circle-size);

        background-color: $dropzone-placeholder;
    }

    .drop-line {
        margin: $dropzone-line-margin;
        width: 100%;
        height: $dropzone-line-height;
        background-color: $dropzone-placeholder
    }
}

span.menu-shortcut {
    @include editor.shortcut-key;
}

.text {
    display: flex;
    .action {
        overflow: hidden;
        margin-left: 36px;
        width: 208px;
        text-overflow: ellipsis;
    }
    .curr {
        margin-left: 12px;
    }
}

::ng-deep {
    @include editor.menu-max-height;
}
